{% set notSignedIn = true %} {# sets up _base.html to only show what pages look like when not signed in #}
{% set pageTitle = "Not signed in" %}
{% set showBreadcrumbs = true %} {# show breadscrumbs  #}
{% set breadcrumb = "Test" %} {# breadcrumb #}
{% extends folder + "/_base.html" %}


{% block govukSignInContent %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <nav class="sub-navigation">

    <li class="sub-navigation__item {% if subMenuActive == 'About' %} sub-navigation__item--active{% endif %}">
      <a class="govuk-link govuk-link--no-visited-state " href="/{{folder}}/your-account/index">About</a>
    </li>
    <li class="sub-navigation__item {% if subMenuActive == 'Your services' %} sub-navigation__item--active{% endif %}">
      <a class="govuk-link govuk-link--no-visited-state" href="/{{folder}}/your-services">Sign in</a>
    </li>

      </nav>
    </div>


  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Example
    </h1>

    <p>Stuff goes here </p>
{% endblock %}
