{% extends "layouts/main.html" %}
{% set serviceName = "Round 5" %}
{% block pageTitle %}
  Prototype for user testing: Identity concepts - user journey maps 2
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
       Prototype for user testing: July 2023
      </h1>
          <!-- <p class="govuk-body-l">Testing booked for Nov/Dec 2022</p> -->


  <h2 class="govuk-heading-m">Scenario</h2>
      <!-- <p>Make a request for your service to join private beta</p> -->

      <!--  Need to update /email-invite to first page of scenario -->
      {{ govukButton({
        href: "/" + folder + "/documentation/user-journey-maps",
        text: "Go to scenario"
      }) }}


      <h2 class="govuk-heading-m">All screens</h2>

      <!--  start of wrapper for summary component -->
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              All screens
            </span>
          </summary>
          <div class="govuk-details__text">
      <!-- end start of wrapper for details component - need to update w/ correct page links  -->
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/{{folder}}/documentation/tech-docs">Technical documentation</a></li>
            <li><a href="/{{folder}}/documentation/user-journey-maps">User journeys</a></li>
            <li><a href="/{{folder}}/documentation/top-level-linear-journeys">Top level linear journeys</a></li>
            <li><a href="https://www.figma.com/file/Blgax3iTYjKDkVYCP4G9HS/PROTOTYPE%3A-GOV.UK-One-Login-process-journey-maps?type=design&node-id=0%3A1&mode=design&t=S1eLlNPhFhiKPg9L-1" 
              class="govuk-link" rel="noreferrer noopener" target="_blank">Journey process maps (opens in a new tab)</a></li>
          </ul>

          <p><strong><a class="govuk-link" href="/manage-prototype/clear-data">Clear session data</a></strong></p>

      <!-- finish wrapper for details component -->
          </div>
        </details>
      <!-- end of wrapper for details component -->


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Related docs and further reading</h2>

    <p><a href=" ">
    User research findings</a></p>

    <p><a href=" ">
    Figma file</a></p>

  </div>
</div>

{% endblock %}
