{% set pageTitle = "Account area" %}
{% extends folder + "/onboarding-forms/layouts/_base-landing-page.html" %}



{% block govukSignInContent %}

{% block content %}

      <h1 class="govuk-heading-l">
        Get a juggling licence
      </h1>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
        <p><h2 class="govuk-heading-s"><a href="manage-service">Manage your client integration</a></h2></p>
        <p>This is some dummy sub text that provides info about what this page is about</p>
        </div>

        <div class="govuk-grid-column-one-half">
        <p><h2 class="govuk-heading-s"><a href="register-to-go-live">Get to ready to go live</a></h2></p>
        <p>This is some dummy sub text that provides info about what this page is about</p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p><h2 class="govuk-heading-s"><a href="">View your onboarding documentation</a></h2></p>
          <p>This is some dummy sub text that provides info about what this page is about</p>
          </div>
  
          <div class="govuk-grid-column-one-half">
          <p><h2 class="govuk-heading-s"><a href="">Get help and support</a></h2></p>
          <p>This is some dummy sub text that provides info about what this page is about</p>
          </div>
      </div>
      
      
      

          
{% endblock %}
{% endblock %}

