{% set pageTitle = "Account area" %}
{% set subMenuActive = "Joining public beta" %}
{% extends folder + "/layouts/_base-admin-tool.html" %}


{% block govukSignInContent %}

<h1 class="govuk-heading-l">Register to join public beta</h1>


<p>There are a few steps to getting your service live with GOV.UK One Login.</p>
<p class="govuk-body">These include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>reading and agreeing to the Memorandum of understanding </li>
  <li>setting up in our production environment</li>
  <li>agreeing a go-live date with us</li>
  <li>telling us more about your service, using the form below</li>
</ul>

<p>We'll then arrange to talk more with your team about getting ready to join public beta. </p>

<!-- 

<h3 class="govuk-heading-s">
  Information we currently have
</h3>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      your.email@digital.cabinet-office.gov.uk
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Service name
    </dt>
    <dd class="govuk-summary-list__value">
      Get a juggling licence
    </dd>
  </div>
</dl> -->
<h2 class="govuk-heading-m">Tell us more about your service</h2>

<form class="form" method="post" novalidate="novalidate">




  <div class="govuk-form-group">
    <label class="govuk-label" for="firstName">
      Your full name
    </label>

    <input class="govuk-input govuk-!-width-two-thirds" id="firstName" name="firstName" type="text"
      spellcheck="false" aria-describedby="firstName-hint">

  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="firstName">
      Email address
    </label>

    <input class="govuk-input govuk-!-width-full" id="firstName" name="firstName" type="text"
      spellcheck="false" aria-describedby="firstName-hint" placeholder="your.email@digital.cabinet-office.gov.uk">

  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="role">
      Role
    </label>

    <input class="govuk-input govuk-!-width-two-thirds" id="role" name="role" type="text" spellcheck="false"
      aria-describedby="role-hint">

  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="organisationName">
      Organisation name
    </label>


    <input class="govuk-input govuk-!-width-two-thirds"id="organisationName" name="organisationName" type="text"
      spellcheck="false" aria-describedby="organisationName-hint">

  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="organisationName">
      Service name
    </label>
    <input class="govuk-input govuk-!-width-two-thirds"id="organisationName" name="organisationName" type="text"
      spellcheck="false" aria-describedby="organisationName-hint"  placeholder="Get a juggling licence">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="organisationName">
      Service url, if live
    </label>
    <input class="govuk-input govuk-!-width-two-thirds"id="organisationName" name="organisationName" type="text"
      spellcheck="false" aria-describedby="organisationName-hint">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="serviceDescription">
     Service description
    </label>
    <div id="serviceDescription-hint" class="govuk-hint">
     Include who uses it and what they use it for
    </div>


    <textarea class="govuk-textarea" id="serviceDescription" name="serviceDescription" rows="5"
      aria-describedby="serviceDescription-hint"></textarea>
  </div>


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <label class="govuk-label" for="needeDescription">
          How will your service use GOV.UK One Login?
        </label>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
          <label class="govuk-label govuk-radios__label" for="signIn">
            To sign users in
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
          <label class="govuk-label govuk-radios__label" for="signIn-2">
            To sign users in and check their identity 
          </label>
        </div>
     
    </fieldset>
  </div>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <label class="govuk-label" for="needeDescription">
          Do you need to migrate existing user accounts?
        </label>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
          <label class="govuk-label govuk-radios__label" for="signIn">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
          <label class="govuk-label govuk-radios__label" for="signIn-2">
No          </label>
        </div>
     
    </fieldset>
  </div>

  <div class="govuk-form-group">

    <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend">
       Number of users each year
      </legend>
      <div class="govuk-radios" id="totalAnnualNumberOfUsersOfYourService-options" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="totalAnnualNumberOfUsersOfYourService"
            name="totalAnnualNumberOfUsersOfYourService" type="radio" value="range1To1000">
          <label class="govuk-label govuk-radios__label" for="totalAnnualNumberOfUsersOfYourService">
            1 to 1,000
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="totalAnnualNumberOfUsersOfYourService-2"
            name="totalAnnualNumberOfUsersOfYourService" type="radio" value="range1001To50000">
          <label class="govuk-label govuk-radios__label" for="totalAnnualNumberOfUsersOfYourService-2">
            1,001 to 50,000
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="totalAnnualNumberOfUsersOfYourService-3"
            name="totalAnnualNumberOfUsersOfYourService" type="radio" value="range50001To250000">
          <label class="govuk-label govuk-radios__label" for="totalAnnualNumberOfUsersOfYourService-3">
            50,001 to 250,000
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="totalAnnualNumberOfUsersOfYourService-4"
            name="totalAnnualNumberOfUsersOfYourService" type="radio" value="range250001To1Million">
          <label class="govuk-label govuk-radios__label" for="totalAnnualNumberOfUsersOfYourService-4">
            250,001 to 1 million
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="totalAnnualNumberOfUsersOfYourService-5"
            name="totalAnnualNumberOfUsersOfYourService" type="radio" value="rangeOver1Million">
          <label class="govuk-label govuk-radios__label" for="totalAnnualNumberOfUsersOfYourService-5">
            Over 1 million users
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="totalAnnualNumberOfUsersOfYourService-4"
            name="totalAnnualNumberOfUsersOfYourService" type="radio" value="range250001To1Million">
          <label class="govuk-label govuk-radios__label" for="totalAnnualNumberOfUsersOfYourService-4">
            Not sure
          </label>
        </div>
      </div>


    </fieldset>


  </div>


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <label class="govuk-label" for="serviceDescription">When would you like to go live with GOV.UK One Login?
        </label>
      <div id="passport-issued-hint" class="govuk-hint">
        For example, 12 3 2024
      </div>
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>







  

 


  

{{ govukButton({
  text: "Submit",
  href: "joining-public-beta-success"
}) }}


{% endblock %}