{% set notSignedIn = true %} {# sets up _base.html to only show what pages look like when not signed in #}

{% set pageTitle = "Create your password" %}
{% extends folder + "/_base.html" %}

{% block govukSignInContent %}


    <h1 class="govuk-heading-l">
      {{pageTitle}}
    </h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="password">
          Enter a password
        </label>
        <span id="password-hint" class="govuk-hint">
         Must be at least 8 characters
        </span>

        <input class="govuk-input govuk-input--width-20" id="password-2" name="password-2" type="password" spellcheck="false" aria-describedby="password-hint" autocomplete="new-password">
      </div>

    {{ govukButton({
    text: "Continue",
    href: "/" + folder + "/create/create-entermobile"
    }) }}



{% endblock %}
