{% set notSignedIn = true %} {# sets up _base.html to only show what pages look like when not signed in #}
{% set pageTitle = "About GOV.UK One Login - GOV.UK One Login" %}
{% set showBreadcrumbs = false %} {# show breadscrumbs  #}
{% set breadcrumb = "Contact us" %} {# breadcrumb #}
{% extends folder + "/layouts/_base-alt.html" %}

{% block beforeContent %}
<a href="support" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Email address sent
        </h1>
      </div>
      
      <p>For security reasons, we'll now check if we can give you access to the prototype. We'll be in touch within x days.</p>
      
      <p>If you have any questions in the meantime, contact us using our <a href="support">support form</a> or at our <a href="https://ukgovernmentdigital.slack.com/archives/C02AQUJ6WTC">Slack channel</a>. </p>
      
      {{ govukButton({
        text: "Go back to documentation",
        href: "identity-journeys"
      }) }}
    
      </div>
    </div>
  </div>


{% endblock %}
