.code-snippet {
    background: #f5f5f5;
    padding: 3px 5px;
    border-radius: 1px;
    font-family: monaco,Consolas,"Lucida Console",monospace;
    line-height: 1.4;
    color: #a71d5d;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 17px;
}
