{# this page will show being signed in by default but also only at the account scope #}

{% set headerActive = "Your account" %} {# change this to change the active header menu #}
{% set notinService = true %} {# this sets the submenu to show account scope menus, not service ones #}
{% set pageTitle = "Your services" %}  {# change this to change what's shown on the tab title in the browser #}
{% set subMenuActive = "Your services" %} {# change this to change the active subMenu menu #}
{% set multipleServices = true %}
{% extends folder + "/layouts/_base-admin-tool.html" %}

{% block govukSignInContent %}


      <h1 class="govuk-heading-l govuk-!-margin-top-3">Your services</h1>

      <h2 class="govuk-heading-m govuk-!-margin-top-3">
        <a class="govuk-link govuk-link--no-visited-state" href="juggling-licence-service.html"> Get a juggling licence</a>
    </h2>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m govuk-!-margin-top-3">
  <a class="govuk-link govuk-link--no-visited-state" href="circus-skills-service.html"> Get a tightrope licence</a>
</h2>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m govuk-!-margin-top-3">
<a class="govuk-link govuk-link--no-visited-state" href="juggling-licence-service.html"> Get a fire breathing licence</a>
</h2>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m govuk-!-margin-top-3">
<a class="govuk-link govuk-link--no-visited-state" href="circus-skills-service.html"> Get a contortionist licence</a>
</h2>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m govuk-!-margin-top-3">
<a class="govuk-link govuk-link--no-visited-state" href="juggling-licence-service.html"> Get a lion tamer licence</a>
</h2>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m govuk-!-margin-top-3">
<a class="govuk-link govuk-link--no-visited-state" href="circus-skills-service.html"> Get an acrobatics licence</a>
</h2>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m govuk-!-margin-top-3">
<a class="govuk-link govuk-link--no-visited-state" href="juggling-licence-service.html"> Get an illusionist licence</a>
</h2>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m govuk-!-margin-top-3">
<a class="govuk-link govuk-link--no-visited-state" href="circus-skills-service.html"> Get a stilt walking licence</a>
</h2>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m govuk-!-margin-top-3">
<a class="govuk-link govuk-link--no-visited-state" href="juggling-licence-service.html"> Get an aerialist licence</a>
</h2>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m govuk-!-margin-top-3">
<a class="govuk-link govuk-link--no-visited-state" href="circus-skills-service.html"> Get a clowning licence</a>
</h2>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m govuk-!-margin-top-3">
<a class="govuk-link govuk-link--no-visited-state" href="juggling-licence-service.html"> Get a human cannonball licence</a>
</h2>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m govuk-!-margin-top-3">
<a class="govuk-link govuk-link--no-visited-state" href="circus-skills-service.html"> Get a ringmaster licence</a>
</h2>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m govuk-!-margin-top-3">
<a class="govuk-link govuk-link--no-visited-state" href="juggling-licence-service.html"> Get a miming licence</a>
</h2>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m govuk-!-margin-top-3">
<a class="govuk-link govuk-link--no-visited-state" href="circus-skills-service.html"> Get an escapology licence</a>
</h2>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  {{ govukButton({
    text: "Add a new service",
    href: "enter-service-name"
  }) }}


{% endblock %}

