{# this page will show being signed in by default but also only at the account scope #}

{% set headerActive = "Your account" %} {# change this to change the active header menu #}
{% set notinService = true %} {# this sets the submenu to show account scope menus, not service ones #}
{% set pageTitle = "Add your new password" %}  {# change this to change what's shown on the tab title in the browser #}
{% set subMenuActive = "Your account" %} {# change this to change the active subMenu menu #}
{% extends folder + "/_base.html" %}


{% block govukSignInContent %}


    <h1 class="govuk-heading-l">
      {{pageTitle}}
    </h1>


      <div class="govuk-form-group">
        <label class="govuk-label" for="password">
          Current password
        </label>

        <input class="govuk-input govuk-input--width-20" id="password" name="create-password-1" type="password" spellcheck="false" aria-describedby="password-hint" autocomplete="new-password">
      </div>

<form action="change-password-v2-router" method="post">
      <div class="govuk-form-group">
        <label class="govuk-label" for="password">
          Enter a new password
        </label>
        <span id="password-hint" class="govuk-hint">
         Must be at least 8 characters
        </span>

        <input class="govuk-input govuk-input--width-20" id="password-new" name="create-password-1" type="password" spellcheck="false" aria-describedby="password-hint" autocomplete="new-password">
      </div>

      <div class="govuk-button-group">
      {{ govukButton({
      text: "Confirm"
      }) }}
      <a class="govuk-link" href="your-account-v2">Cancel</a>
      </div>


{% endblock %}
