{% extends "layouts/main.html" %}

{% block pageTitle %}
Create your password
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a href="sign-in-email-v2" class="govuk-back-link">Back</a>

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Enter your password
    </h1>



      <div class="govuk-form-group">
        <label class="govuk-label" for="password">
          Enter a password
        </label>

        <input class="govuk-input govuk-input--width-20" id="password" name="create-password-1" type="password" spellcheck="false" aria-describedby="password-hint" autocomplete="new-password">
      </div>

    {{ govukButton({
    text: "Continue",
    href: "/" + folder +  "/sign-in-checkphone-v2"
    }) }}


  </div>
</div>

{% endblock %}
