{% extends "layouts/main.html" %}

{% block pageTitle %}
Design handovers
{% endblock %}

{% block header %}

{{ govukHeader({
homepageUrl: "#"
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <span class="govuk-caption-xl">SSE-3000</span>

    <h1 class="govuk-heading-l">
      Make changes to the Join public beta form in the admin tool
    </h1>

    <p>
      <a href="https://govukverify.atlassian.net/browse/SSE-3000">View the story on Jira</a>.
    </p>

    <h2 class="govuk-heading-m">
      What's changed
    </h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">1. Changed the link txt in the side bar when user is in the <a href="joining-public-beta">'Your services'</a> area</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Txt change from 'Joining public beta' to 'register to join public beta</li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-half"></div>
      <img src="/public/images/beta-sidebar.png" alt="" width="300">
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h3 class="govuk-heading-s">2. Changed the <a href="joining-public-beta">Joining private beta form</a>, to give
      more realistic expectation of what's involved, plus more RP info to onboarding</h3>

  <img src="/public/images/beta-form.png" alt="" width="700">
  <p class="govuk-body govuk-!-font-size-24">Validation errors</p>

        
    
      <p>We're reducing the number of mandatory fields to those that will help Onboarding prioritise which services to contact first.</p>
      <p class="govuk-body">Validation on these fields only:</p>
      <ol class="govuk-list govuk-list--number">
        <li>Full name</li>
        <li>Organisation name</li>
        <li>How will your service use GOV.UK One Login</li>
        <li>Do you need to migrate existing user accounts</li>
      </ol>
     <p> <a href="errors.html">We've created a page with these validation messages.</a></p>
    


  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-s">Changed content in <a href="joining-public-beta-success.html">the 'success' page</a>  after form is sent</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>content changed to simplify language</li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-half"></div>
    <img src="/public/images/beta-form-success.png" alt="" width="300">
    </div>
 



 
 
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

  {{ govukButton({
  text: "View the prototype",
  href: "joining-public-beta"
  }) }}

</div>
</div>

{% endblock %}