{% set notSignedIn = true %} {# sets up _base.html to only show what pages look like when not signed in #}
{% set pageTitle = "The signed in experience - GOV.UK One Login" %}
{% set showBreadcrumbs = true %} {# show breadscrumbs  #}
{% set breadcrumb = "About GOV.UK One Login" %} {# breadcrumb #}
{% extends folder + "/layouts/_base.html" %}
{% set headerNavigationActiveItem = "about" %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <nav class="sub-navigation">

        <li class="sub-navigation__item">
          <a class="govuk-link govuk-link--no-visited-state " href="about">About GOV.UK One Login</a>
        </li>
        <li class="sub-navigation__item">
          <a class="govuk-link govuk-link--no-visited-state" href="signing-users-in" style="margin-left: 20px;">Signing users in</a>
        </li>
        <li class="sub-navigation__item sub-navigation__item--active">
          <a class="govuk-link govuk-link--no-visited-state" href="signed-in-experience" style="margin-left: 20px;">The signed in experience</a>
        </li>
        <li class="sub-navigation__item">
          <a class="govuk-link govuk-link--no-visited-state" href="checking-users-identities" style="margin-left: 20px;">Checking users' identities</a>
        </li>
        <li class="sub-navigation__item">
          <a class="govuk-link govuk-link--no-visited-state" href="how-users-prove-identity.html" style="margin-left: 20px;">How users can prove their identity</a>
        </li>
        <li class="sub-navigation__item">
          <a class="govuk-link govuk-link--no-visited-state" href="roadmap">Roadmap</a>
        </li>

      </nav>
    </div>
  
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">The signed in experience</h1>
      <p class="govuk-body">When a user creates a GOV.UK One Login to access a service, they also get a space where they can manage their details and see other services they’ve used.</p>
      <p class="govuk-body">Users can be signed in to this space and access it whether they’re signed in to your service or not.</p>
      <h2 class="govuk-heading-m">What users can do in their GOV.UK One Login</h2>
      <h3 class="govuk-heading-s">Update credentials</h3>
      <p class="govuk-body">Users can change their:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>email address</li>
        <li>password</li>
        <li>phone number</li>
      </ul>
      <p class="govuk-body">We’ve got some recommended content to help you <a class="govuk-link" href="../documentation/change-credentials">show users where to change their GOV.UK One Login credentials</a>.</p>
      <h3 class="govuk-heading-s">Delete their GOV.UK One Login</h3>
      <p class="govuk-body">Users can delete their GOV.UK One Login.</p>
      <p class="govuk-body">If they do this, we’ll delete their records from all our live service databases within GOV.UK One Login, including their:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>sign in details</li>
        <li>saved identity information</li>
      </ul>
      <p class="govuk-body">They’ll no longer be able to use their GOV.UK One Login to access your service.</p>
      <p class="govuk-body">We’ll keep some data about what the user has done with their GOV.UK One Login for auditing and monitoring reasons.</p>
      <h3 class="govuk-heading-s">See and access their services in one place</h3>
      <p class="govuk-body">When a user signs in to your service with their GOV.UK One Login, a link to your service or to your GOV.UK start page appears in the ‘Your services’ section.</p>
      <p class="govuk-body">This means they can easily access all the services they’ve used with their GOV.UK One Login from one place.</p>
      <p class="govuk-body">Users can continue to access your service through familiar routes, like landing on a GOV.UK start page.</p>
      <h2 class="govuk-heading-m">See a user’s GOV.UK One Login space</h2>
      <p class="govuk-body">Here are the two main pages that make up a user’s GOV.UK One Login space. They can get to this space if you link to it from your service, following our <a class="govuk-link" href="../documentation/change-credentials">design recommendations for letting users change credentials</a>.</p>
    
      </div>
    
        </div>

{% endblock %}
