{% set notSignedIn = true %} {# sets up _base.html to only show what pages look like when not signed in #}
{% set pageTitle = "GOV.UK One Login - Enter your password" %}
{% set showBreadcrumbs = false %} {# show breadscrumbs  #}
{% set breadcrumb = "Support" %} {# breadcrumb #}
{% set back = true %}
{% extends folder + "/layouts/_base.html" %}
{% set headerNavigationActiveItem = "Sign in" %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
  
      <h1 class="govuk-heading-l">Enter your password</h1>
    
        
      <form class="form" method="post" action="check-mobile-phone">

    <div class="govuk-form-group">
      <label class="govuk-label" for="emailAddress">
        Password
      </label>
    
    <input class="govuk-input govuk-!-width-three-quarters" id="password" name="password" type="email" spellcheck="false" autocomplete="email">
    
    </div>
    
        <div class="govuk-button-group">
          
    <button class="govuk-button" data-module="govuk-button" id="submit">
      Continue
    </button>          
        </div>

        <p><a class="govuk-link" href="register">Forgot your password?</a></p>
      </form>
    
      
    
      
    
        </div>
    </div>
  </div>


{% endblock %}
