{% set headerActive = "" %} {# change this to change the active header menu #}
{% set notinService = true %} {# this sets the submenu to show account scope menus, not service ones #}
{% set pageTitle = "Your services" %}  {# change this to change what's shown on the tab title in the browser #}
{% set back = "your-services" %}
{% extends folder + "/layouts/_base-admin-tool.html" %}


{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
  
      <div class="govuk-grid-column-two-thirds">
  
        <form class="form" method="post" action="change-service-name-success">

          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="more-detail">
                Enter sector identifier URI
              </label>
            </h1>
            <div id="more-detail-hint" class="govuk-hint">
              SUGGESTED THAT WE NEED BIG WARNINGS ABOUT EDITING THIS INFORMATION
            </div>
            <input class="govuk-input" id="event-name" name="eventName" type="text">

          </div>
  
          {{ govukButton({
            text: "Save and continue",
            href: "success/enter-sector-identifier-uri"
          }) }}
            
          </div>

  
      </form>
      
      
          </div>


{% endblock %}