{% set headerActive = "" %} {# change this to change the active header menu #}
{% set notinService = true %} {# this sets the submenu to show account scope menus, not service ones #}
{% set pageTitle = "Your services" %}  {# change this to change what's shown on the tab title in the browser #}
{% set back = "your-services" %}
{% extends folder + "/layouts/_base-admin-tool.html" %}


{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
  
      <div class="govuk-grid-column-two-thirds">
  
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="more-detail">
                Enter back channel logout URI
              </label>
            </h1>
            <input class="govuk-input" id="event-name" name="eventName" type="text">
          </div>
  


{{ govukButton({
  text: "Save and continue",
  href: "success/enter-back-channel-logout-uri"
}) }}
      
    </div>
  </div>


{% endblock %}