{% set headerActive = "" %} {# change this to change the active header menu #}
{% set notinService = true %} {# this sets the submenu to show account scope menus, not service ones #}
{% set pageTitle = "Your services" %}  {# change this to change what's shown on the tab title in the browser #}
{% set back = "your-services" %}
{% extends folder + "/layouts/_base-admin-tool.html" %}


{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
  
      <div class="govuk-grid-column-two-thirds">
  
        <form class="form" method="post" action="change-service-name-success">

          <h1 class="govuk-heading-l">Enter scopes</h1>

          <p>Choose the user attributes you want your service to receive.</p>

          {{ govukCheckboxes({
            name: "claims",
            fieldset: {
              legend: {
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
            {
              value: "Email address",
              text: "Email address"
            },
            {
              value: "Phone number",
              text: "Phone number"
            }
            ]
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Confirm",
              href: "success/enter-claims"
            }) }}
          
            <a class="govuk-link" href="#">Cancel</a>
          </div>
            
          </div>

  
      </form>
      
      
          </div>


{% endblock %}