{% extends "layouts/main.html" %}

{% block pageTitle %}
Design handovers
{% endblock %}

{% block header %}

{{ govukHeader({
homepageUrl: "#"
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <span class="govuk-caption-xl">SSE-3136</span>

    <h1 class="govuk-heading-l">
      Extending config
    </h1>

    <p>
      <a href="https://govukverify.atlassian.net/browse/SSE-3136">View the story on Jira</a>.
    </p>

    <h2 class="govuk-heading-m">
      What's been added
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/design-sandbox/config-updates/enter-contacts-existing-contacts">Contacts</a></li>
      <li><a href="/design-sandbox/config-updates/enter-back-channel-logout-uri">Back channel logout URI</a></li>
      <li><a href="/design-sandbox/config-updates/enter-sector-identifier-uri">Sector identifier URI</a></li>
      <li>Identity verification enabled</li>
      <li><a href="/design-sandbox/config-updates/enter-claims">Claims</a></li>
      <li>Authentication method</li>
      <li><a href="/design-sandbox/config-updates/enter-client-secret">Client secret</a></li>
      <li><a href="/design-sandbox/config-updates/enter-id-token-signing-algorithm">ID token signing algorithm</a></li>
      <li>Level of confidence options</li>
    </ul>

    <h2 class="govuk-heading-m">
      Success page pattern
    </h2>

    <p>
      Whenever information is successfully added or changed, the user is presented with the appropriate <a href="https://design-system.service.gov.uk/components/notification-banner/">success notification banner</a>.
     </p>

     <ul class="govuk-list govuk-list--bullet">
      <li><a href="/design-sandbox/config-updates/success/enter-back-channel-logout-uri">Back channel logout URI success</a></li>
      <li><a href="/design-sandbox/config-updates/success/enter-claims">Claims success</a></li>
      <li><a href="/design-sandbox/config-updates/success/enter-client-secret">Client secret hash success</a></li>
      <li><a href="/design-sandbox/config-updates/success/enter-id-token-signing-algorithm">ID token signing algorithm success</a></li>
      <li><a href="/design-sandbox/config-updates/success/enter-public-key">Public key success</a></li>
      <li><a href="/design-sandbox/config-updates/success/enter-sector-identifier-uri">Sector identifier URI success</a></li>
    </ul>

    <h2 class="govuk-heading-m">
      List of screens with different scenarios
    </h2>

        
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/design-sandbox/config-updates/juggling-licence-service-blank">Blank version with IDV disabled</a></li>
          <p>
            This view has minimal information inputted.
           </p>
          <li><a href="/design-sandbox/config-updates/juggling-licence-service">IDV enabled with claims and multiple contacts</a></li>
          <p>
            This view has multiple contacts and redirect URIs entered and because the authentication method is 'private_key_jwt', public key is visible.
           </p>
          <li><a href="/design-sandbox/config-updates/juggling-licence-service-client-secret">Authentication method: client_secret_post</a></li>
          <p>
            A view where the authentication method is 'private_key_jwt' so client secret hash is visible.
           </p>
        </ul>


        <h2 class="govuk-heading-m">
          Logic
        </h2>

        <h3 class="govuk-heading-s">
          Authentication method
        </h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>When 'client_secret_post' is enabled, 'client secret hash' is shown.</li>
          <li>When 'private_key_jwt' is enabled, 'public key' is shown.</li>
        </ul>

        <h3 class="govuk-heading-s">
          Identity verification enabled
        </h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>When Idenity verification enabled is 'yes', Claims and Level of confidence options is shown.</li>
        </ul>


        <h2 class="govuk-heading-m">
          Add another item to a list
        </h2>

        <p>
          There is a new pattern included within the prototype. This enables us to add more than one item to a list of text inputs.
         </p>

         <p>
          The user is given the option to add an additional item, which they are then given the option to remove.
         </p>

         <p>
          There is no pagination on the page, regardless of how many email addresses have been added. All email address inputs should appear on one page.
         </p>

         <p>
          This pattern can be seen on the following pages:
         </p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/design-sandbox/config-updates/enter-contacts-existing-contacts">Enter contacts</a></li>
          <li><a href="/design-sandbox/config-updates/enter-redirect-uri-existing">Enter redirect URIs</a></li>
        </ul>

        <h2 class="govuk-heading-m">
          Error scenarios and messages
        </h2>
        <p class="govuk-body">Error messages to follow usual GDS pattern - <a href="https://design-system.service.gov.uk/components/error-summary/">error summary</a> at the top, with <a href="https://design-system.service.gov.uk/components/error-message/">error repeated above the field</a>.
        <h3 class="govuk-heading-s">
          Service details</h3>
          <ul class="govuk-list govuk-list--bullet">
          <li>Change name</b> - use existing validation for names</li>
            <li>Client ID</b> - no validation</li>
              <li>Contacts</b> - use existing validation for emails</li>
          </ul>
          <h3 class="govuk-heading-s">
            Manage client</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>URI validation tba</li>
            </ul>
            <h3 class="govuk-heading-s">
              User attributes</h3>
              <ul class="govuk-list govuk-list--bullet">
                <li>Scopes - use existing email and phone validation</li>
                <li>Claims - Error summary and message: There's a problem Select on option</li>
              </ul>
              <h3 class="govuk-heading-s">
                Client authentication</h3>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Public key validation tba</li>
                </ul>
                <h3 class="govuk-heading-s">
                  Advanced options</h3>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>ID token signing algorithm - Error summary and message: There's a problem Select on option</li>
                  </ul>
</div>
</div>

{% endblock %}