{% set headerActive = "" %} {# change this to change the active header menu #}
{% set notinService = true %} {# this sets the submenu to show account scope menus, not service ones #}
{% set pageTitle = "Your services" %}  {# change this to change what's shown on the tab title in the browser #}
{% set back = "your-services" %}
{% extends folder + "/layouts/_base-admin-tool.html" %}


{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
  
      <div class="govuk-grid-column-two-thirds">



        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Have you completed a memorandum of understanding and data protection impact assessment?
              </h1>
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="enable-idv" name="enable-idv" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="enable-idv">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="enable-idv-2" name="enable-idv" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="enable-idv-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-inset-text">
          If you need help with these documents, email our engagement team<a href=mailto:"govuk-one-login@digital.cabinet-office.gov.uk">govuk-one-login@digital.cabinet-office.gov.uk</a>.
        </div>
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Confirm",
              href: "enter-identity-verification-success"
            }) }}
  
          
            <a class="govuk-link" href="#">Cancel</a>
          </div>
            
          </div>

  
      </form>
      
      
          </div>


{% endblock %}