{# this page will show being signed in by default but also only at the account scope #}

{% set headerActive = "Your account" %} {# change this to change the active header menu #}
{% set notinService = true %} {# this sets the submenu to show account scope menus, not service ones #}
{% set pageTitle = "Change your name" %}  {# change this to change what's shown on the tab title in the browser #}
{% set subMenuActive = "Your account" %} {# change this to change the active subMenu menu #}
{% extends folder + "/_base.html" %}


{% block govukSignInContent %}

    <h1 class="govuk-heading-l">
      {{pageTitle}}
    </h1>

    <form class="form" action="change-name-router" method="post">
      <div class="govuk-form-group">
        <label class="govuk-label" for="name">
          Name
        </label>
        <span id="password-hint" class="govuk-hint">
         Enter and change your name below
        </span>
        <input class="govuk-input" id="name" name="name" type="name" value="{{data['name'] or data['defaultUser'].name}}" spellcheck="false" aria-describedby="name-hint" autocomplete="name">
          </div>

    <div class="govuk-button-group">
    {{ govukButton({
    text: "Confirm"
    }) }}
    <a class="govuk-link" href="your-account/index">Cancel</a>
    </div>

    </form>
  </div>
</div>

{% endblock %}
