{% set notSignedIn = true %} {# sets up _base.html to only show what pages look like when not signed in #}
{% set pageTitle = "Set up a call with GOV.UK One Login" %}
{% set showBreadcrumbs = false %} {# show breadscrumbs #}
{% set breadcrumb = "Get started" %} {# breadcrumb #}
{% extends folder + "/layouts/_base-alt.html" %}
{% set headerNavigationActiveItem = "get-started" %}
{% set back = "step-4" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Application complete"
    }) }}

    <p class="govuk-body">We have sent you a confirmation email.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      We’ve sent your application to Hackney Electoral Register Office.
    </p>
    <p class="govuk-body">
      They will contact you either to confirm your registration, or to ask for more information.
    </p>

    <p class="govuk-body">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p>
  </div>
</div>



{% endblock %}