{% set notSignedIn = true %} {# sets up _base.html to only show what pages look like when not signed in #}
{% set pageTitle = "About GOV.UK One Login - GOV.UK One Login" %}
{% set showBreadcrumbs = true %} {# show breadscrumbs  #}
{% set breadcrumb = "Get started" %} {# breadcrumb #}
{% extends folder + "/layouts/_base-alt.html" %}
{% set headerNavigationActiveItem = "get-started" %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    
      <h1 class="govuk-heading-l">Get started</h1>
      <p class="govuk-body">
        You can use GOV.UK One Login if you’re from a central government service and need to sign in your users. We’ll add more features over time.
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="about/about">Read more about GOV.UK One Login</a>.
      </p>
      
      <h2 class="govuk-heading-m govuk-!-padding-top-4">Get in touch or try GOV.UK One Login</h2>
      <p class="govuk-body">Register your interest if you think GOV.UK One Login is right for your service. We’ll get in touch to talk more about your service’s needs and then give you access to our integration environment.</p>
    
    <a href="register" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Register your interest
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg></a>
    
      <h2 class="govuk-heading-s govuk-!-padding-top-2">Try GOV.UK One Login</h2>
      <p class="govuk-body">set up an admin tool account to try GOV.UK One Login to in our integration environment. You'll need a:</p>
      <ul class="govuk-list"><ul><li>government email address</li>
      <li>mobile phone number</li></ul>
      <a href="contact-us-details" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Create admin tool account
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg></a>
        <p class="govuk-body">
          or sign in</p>
          <h2 class="govuk-heading-s govuk-!-padding-top-2">Contact us</h2>
          <p class="govuk-body">
            Use our online form to report problems, ask questions or suggest improvements.</p>

            <p class="govuk-body"><p>You can also get in touch via our Slack channel</p>
      <h2 class="govuk-heading-m govuk-!-padding-top-4">Contact us</h2>
      <p class="govuk-body">
        Use our <a class="govuk-link" href="support">online form</a> to report problems, ask questions or suggest improvements.</p>

        <p>You can also get in touch using our <a class="govuk-link" href="https://ukgovernmentdigital.slack.com/archives/C02AQUJ6WTC">Slack channel</a> if you’re from a government service team.
      </p>
    
      </div>

{% endblock %}
