{% set pageTitle = "Account area" %}
{% set subMenuActive = "Client details" %}
{% extends folder + "/layouts/_base-admin-tool.html" %}


{% block govukSignInContent %}

<form class="form" method="post" action="change-post-logout-redirect-uris-success">

<h1 class="govuk-heading-l">
  Change your post logout redirect URIs
</h1>
<p>Add the URI for the page you want your users to see after they sign out of your service.</p>
<p>You can add multiple post logout redirect URIs if you want different groups of users to see different pages once they sign out of your service. To do this, enter the URIs separated by a space.</p>
<p>If you do not specify one, your users will be redirected to the default GOV.UK sign out page.</p>

<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Post logout redirect URIs
  </label>
  <div id="more-detail-hint" class="govuk-hint">
    Enter a URL starting with https:// or a localhost URL starting with http://
  </div>
  <input class="govuk-input" id="event-name" name="eventName" type="text">
</div>

<div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button">
    Confirm
  </button>
  <a class="govuk-link" href="#">Cancel</a>
</div>

</form>

{% endblock %}