<div class="navigation-service">


  <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/{{folder}}/your-services">Your services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item govuk-!-font-weight-bold" >
        {{data['service-name-2'] or 'Get a juggling licence'}}
      </li>
    </ol>

    <a href="/{{folder}}/change-service-name" class="govuk-link govuk-link--no-visited-state navigation-service-switch">Change service name</a>
  </div>
  </div>
