
{% extends "layouts/main.html" %}
{% block pageTitle %}
  GOV.UK One Login admin tool prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">GOV.UK One Login: Self-service experience prototype</h1>

      <p><a href="/product-site/index">Product site</a></p>
      <p><a href="/admin-tool/sign-in/enter-email-address">Admin tool</a></p>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Design sandbox</h2>

      <ul class="govuk-list">
        <p>Get access to the html prototype' options</p>
        <ul class="govuk-list govuk-list--bullet">
        <li><p><a href="/design-sandbox/end-to-end-prototype/identity-journeys.html">'Option 1 - email address validated on screen, proto details auto sent in an email.</a></li>
          <li><p><a href="/design-sandbox/end-to-end-prototype/identity-journeys-2.html">'Option 2 - email address gathered on screen, manually send proto details.</a></li>
            
            <li><p><a href="/design-sandbox/end-to-end-prototype/identity-journeys-3.html">'Option 3 - we ask them to email us to manually check and give access</a></li>

          </ul>
        <ul class="govuk-list">
        <p><a href="/design-sandbox/config-updates/juggling-licence-service">Extend SSE config tools</a></p>
        <p><a href="/design-sandbox/add-new-service/your-services">Add a new service</a></p>
        <p> Add a new service - account with <a href="/design-sandbox/add-new-service/your-services-numerous">more than 2 services</a></p>
        <p> <a href="/design-sandbox/manage-service/juggling-licence-service">Manage a service</a></p>
      
        <p> <a href="./design-sandbox/get-started-and-join-beta/register.html">Register to get started - product site </a></p>
        <p><a href="./design-sandbox/support-form/support.html">Support triage form,  </a></p>
        <p><a href="./design-sandbox/support-form/contact-us.html">Tech help desk support form </a></p>
        <p><a href="./design-sandbox/id-unhappy-paths/documentation/identity-journeys.html">ID unhappy paths </a></p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Quick start user journeys</h2>

      <ul class="govuk-list">
        <li>
          <a href="/admin-tool/create-account/enter-email-address">Sign up to the GOV.UK One Login Admin Tool</a>
        </li>
        <li>
          <a href="/admin-tool/sign-in/enter-email-address">Sign in to the GOV.UK One Login Admin Tool</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
