
{% extends "layouts/main.html" %}
{% block pageTitle %}
  GOV.UK One Login admin tool prototype
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "index"
}) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Design complete</h1>
  </div>
  </div>
  
      
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">
          <div class="app-c-result-card govuk-!-margin-top-2">
            <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-2">Design documentation about migrating users from existing IDV services</h2>
              <a class="govuk-link--no-visited-state app-c-result-card__link" href="/design-sandbox/migrating-users/design-documentation">View handover</a>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
        <div class="app-c-result-card govuk-!-margin-top-2">
          <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-2">Allowing users to access the HTML prototype</h2>
            <a class="govuk-link--no-visited-state app-c-result-card__link" href="/design-sandbox/end-to-end-prototype/index">View handover</a>
        </div>
      </div>

        <div class="govuk-grid-column-one-third">
          <div class="app-c-result-card govuk-!-margin-top-2">
            <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-2">Get access to the html prototype - option 1</h2>
              <div class="govuk-body app-c-result-card__description">
                <p>Email address validated on screen, proto details auto sent in an email.</p>
              </div>
              <a class="govuk-link--no-visited-state app-c-result-card__link" href="/design-sandbox/end-to-end-prototype/identity-journeys">View prototype</a>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="app-c-result-card govuk-!-margin-top-2">
            <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-2">Get access to the html prototype - option 2</h2>
              <div class="govuk-body app-c-result-card__description">
                <p>Email address gathered on screen, manually send proto details.</p>
              </div>
              <a class="govuk-link--no-visited-state app-c-result-card__link" href="/design-sandbox/end-to-end-prototype/identity-journeys-2">View prototype</a>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="app-c-result-card govuk-!-margin-top-2">
            <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-2">Get access to the html prototype - option 3</h2>
              <div class="govuk-body app-c-result-card__description">
                <p>We ask users to email us to manually check and give access.</p>
              </div>
              <a class="govuk-link--no-visited-state app-c-result-card__link" href="/design-sandbox/end-to-end-prototype/identity-journeys-3">View prototype</a>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="app-c-result-card govuk-!-margin-top-2">
            <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-2">Extending SSE config tools</h2>
              <a class="govuk-link--no-visited-state app-c-result-card__link" href="/design-sandbox/config-updates/index">View handover</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="app-c-result-card govuk-!-margin-top-2">
            <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-2">Add a new service to admin tool</h2>
            <a class="govuk-link--no-visited-state app-c-result-card__link" href="/handovers/sse-3001">View handover</a>                                          
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="app-c-result-card govuk-!-margin-top-2">
            <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-2">Changes to the Support and Contact us forms</h2>
            <a class="govuk-link--no-visited-state app-c-result-card__link" href="/handovers/sse-2993/">View handover</a>                                          
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="app-c-result-card govuk-!-margin-top-2">
            <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-2">Explore design options for adding ID journeys to product site</h2>
              <a class="govuk-link--no-visited-state app-c-result-card__link" href="/handovers/ap-20">View handover</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="app-c-result-card govuk-!-margin-top-2">
            <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-2">Changes to the Join public beta form in the admin tool</h2>
            <a class="govuk-link--no-visited-state app-c-result-card__link" href="/handovers/sse-3000/">View handover</a>                                          
          </div>
        </div>
    </div>
  </div>
{% endblock %}
