
{% extends "layouts/main.html" %}
{% block pageTitle %}
  GOV.UK One Login admin tool prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">GOV.UK One Login: Self-service design handover documentation</h1>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Design handovers</h2>

      <ul class="govuk-list">
        <li>
          <a href="design-sandbox/id-unhappy-paths/documentation/identity-journeys.html">SSE-3026 </a>
        </li>
        <li>
          <a href="/handovers/sse-2993/">SSE-2993 </a>
        </li>
        <li>
          <a href="/handovers/ap-20">AP-20 </a>
        </li>
        <li>
          <a href="handovers/sse-3000/">SSE-3000 </a>
        </li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
      

      <ul class="govuk-list">
        <li>
          <a href="design-sandbox.html">Work in progress</a>
    </div>
  </div>
{% endblock %}
