
{% extends "layouts/main.html" %}
{% block pageTitle %}
  GOV.UK One Login admin tool prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">GOV.UK One Login: Self-service experience prototype</h1>
      <ul class="govuk-list">
        <li>
          <a href="/v5/index">Round 5: Identity concepts - user journey maps 2</a>
        </li>
        <li>
          <a href="/v4/index">Round 4: Identity concepts - user journey maps</a>
        </li>
        <li>
          <a href="/v3/index">Round 3: Private beta and MoU processes</a>
        </li>
        <li>
          <a href="/v2/index">Round 2: Multi-user and multi-service functionality</a>
        </li>
        <li>
          <a href="/v1/index">Round 1: Create account and client details</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
