
{% extends "layouts/main.html" %}
{% block pageTitle %}
  GOV.UK One Login admin tool prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">GOV.UK One Login: Self-service experience prototype</h1>

       <ul class="govuk-list">
        <li>
          <a href="/product-site/index">Product site</a>
        </li>
        <li>
          <a href="/admin-tool/sign-in/enter-email-address">Admin tool</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Design sandbox</h2>

      <ul class="govuk-list">
        <li>
          <a href="/design-sandbox/user-journey-maps/documentation/user-journeys">User journey documentation</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Quick start user journeys</h2>

      <ul class="govuk-list">
        <li>
          <a href="/admin-tool/create-account/enter-email-address">Sign up to the GOV.UK One Login Admin Tool</a>
        </li>
        <li>
          <a href="/admin-tool/sign-in/enter-email-address">Sign in to the GOV.UK One Login Admin Tool</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
