{% set notSignedIn = true %} {# sets up _base.html to only show what pages look like when not signed in #}
{% set pageTitle = "About GOV.UK One Login - GOV.UK One Login" %}
{% set showBreadcrumbs = false %} {# show breadscrumbs  #}
{% set breadcrumb = "Contact us" %} {# breadcrumb #}
{% extends folder + "/layouts/_base-alt.html" %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    
      {{ govukPanel({
        titleText: "Email address sent"
      }) }}

  <!--     <p class="govuk-body">We have sent you a confirmation email.</p> -->

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
We'll now check your email address to make sure we can share the prototype with you.      </p>
      <p class="govuk-body">
        We'll be in touch within a day.
      </p>

      {{ govukButton({
        text: "Go back to documentation",
        href: "identity-journeys"
      }) }}


    
      </div>
    </div>
  </div>


{% endblock %}
