{% set notSignedIn = true %} {# sets up _base.html to only show what pages look like when not signed in #}
{% set pageTitle = "About GOV.UK One Login - GOV.UK One Login" %}
{% set showBreadcrumbs = false %} {# show breadscrumbs  #}
{% set breadcrumb = "Contact us" %} {# breadcrumb #}
{% extends folder + "/layouts/_base-alt.html" %}

{% block beforeContent %}
<a href="identity-journeys" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {{ govukInput({
        label: {
          text: "Enter your work email address",
          classes: "govuk-label--l",
          isPageHeading: true
        },
          
        hint: {
          text: "This must be an email address of a UK governement department, organisation or arm's length body."
        },
        id: "email-address",
        name: "emailAddress"
      
      }) }}
      {% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "I do not have a UK government email address",
  text: "Contact us at x@gov.uk. Include who you work for and why you want access to the prototype."
}) }}

     

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "check-email"
        }) }}

        <a class="govuk-link" href="identity-journeys">Cancel</a>
      </div>
          
      </div>
    </div>
  </div>


{% endblock %}
