{% set notSignedIn = true %} {# sets up _base.html to only show what pages look like when not signed in #}
{% set pageTitle = "Technical documentation - GOV.UK One Login" %}
{% set showBreadcrumbs = true %} {# show breadscrumbs  #}
{% set breadcrumb = "Documentation" %} {# breadcrumb #}
{% extends folder + "/layouts/_base.html" %}
{% set headerNavigationActiveItem = "documentation" %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <nav class="sub-navigation">

        <ul class="govuk-list">
          <li class="sub-navigation__item">
            <a class="govuk-link govuk-link--no-visited-state" href="technical-documentation">Technical documentation</a>
          </li>
          <li class="sub-navigation__item">
            <a class="govuk-link govuk-link--no-visited-state" href="sign-in-journeys.html">
              Sign in journey maps</a>
          </li>
          <li class="sub-navigation__item">
            <a class="govuk-link govuk-link--no-visited-state" href="identity-journeys">
              Proving identity journey maps</a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--active">
            <a class="govuk-link govuk-link--no-visited-state" href="identity-journeys">
              GOV.UK One Login prototype</a>
          </li>
          
          <li class="sub-navigation__item">
            <a class="govuk-link govuk-link--no-visited-state" href="design-documentation">Design recommendations</a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--child">
            <a class="govuk-link govuk-link--no-visited-state " href="save-progress">
              Let users create a GOV.UK One Login to save progress</a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--child">
            <a class="govuk-link govuk-link--no-visited-state" href="sign-out-easily">
              Let users navigate to their GOV.UK One Login and sign out easily</a>
          </li>
          <li class="sub-navigation__item sub-navigation__item--child">
            <a class="govuk-link govuk-link--no-visited-state" href="change-credentials">
              Show users where to change their GOV.UK One Login credentials</a>
          </li>
        </ul>
    
    

      </nav>
    </div>
  
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">GOV.UK One Login prototype</h1>

          <p class="govuk-body">We've created an HTML prototype for government service teams to use to explore journeys within GOV.UK One Login.</p>
          <p class="govuk-body">We'll update the prototype regularly to reflect live journeys, but it's not an exact copy. It's also not production code.
          </p>

              {{ govukButton({
                text: "Get access",
                href: "enter-email-address"
              }) }} 
              
      </div>
        </div>
   
</div>
</div>

{% endblock %}
