{% set notSignedIn = true %} {# sets up _base.html to only show what pages look like when not signed in #}
{% set pageTitle = "About GOV.UK One Login - GOV.UK One Login" %}
{% set showBreadcrumbs = false %} {# show breadscrumbs  #}
{% set breadcrumb = "Contact us" %} {# breadcrumb #}
{% extends folder + "/layouts/_base-alt.html" %}

{% block beforeContent %}
<a href="identity-journeys" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
         
          {
            text: "Enter an email address from a UK public body",
            href: "#"
          }
        ]
      }) }}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Enter your work email address"
        },
        hint: {
        },
        id: "national-insurance-number",
        name: "nationalInsuranceNumber",
        errorMessage: {
          text: "Enter an email address from a UK public body"
        }
      }) }}
      


      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "check-email"
        }) }}

        <a class="govuk-link" href="identity-journeys">Cancel</a>
      </div>
          
      </div>
    </div>
  </div>


{% endblock %}
