{% extends "layouts/main.html" %}

{% block pageTitle %}
  Design handovers
{% endblock %}

{% block header %}

{{ govukHeader({
  homepageUrl: "#"
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">AP-20</span>

      <h1 class="govuk-heading-l">
        Explore design options for adding ID journeys to product site
      </h1>

      <p>
        <a href="https://govukverify.atlassian.net/browse/AP-20">View the story on Jira</a>.
      </p>

      <h2 class="govuk-heading-m">
        What's changed
      </h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Added 2 links to the 'Let users sign in' tile on the landing page - 1. 'Read more' info, which goes to About section 2. Sign in journey maps</li>
  <li>Added 2 links to the 'Check the identity of your users' tile on the landing page - 1. 'Read more' info, which goes to About section 2. ID checking journey maps</li>
  <li>Removed 'Find out more' link in top pannel</li>
  <li>Reordered the side navigation elements in About - Signing users in, Checking users’ identities, How users can prove their identity, The signed in experience</li>

</ul>


      <h2 class="govuk-heading-m">
        Notes
      </h2>

      <p>Enter information about expected functionality that isn't covered in the prototype.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      {{ govukButton({
        text: "View the prototype",
        href: ""
      }) }}

    </div>
  </div>

{% endblock %}